In [ ]:
EASY
https://leetcode.com/problems/big-countries/description/ 
https://leetcode.com/problems/duplicate-emails/description/ 

MEDIUM
https://leetcode.com/problems/combine-two-tables/description/
https://leetcode.com/problems/employees-earning-more-than-their-managers/description/

HARD
https://leetcode.com/problems/average-time-of-process-per-machine/description/

[1] https://leetcode.com/problems/big-countries/description/

[Solution]
```sql
select name
     , population
     , area
 from world
where population >= 25000000
   or area >= 3000000
```

[2] https://leetcode.com/problems/duplicate-emails/description/

[Solution]
```sql
select email
  from person
group by email
   having count(email)>1;
```

[3] https://leetcode.com/problems/combine-two-tables/description/

[Solution]
```sql
select firstName
     , lastName
     , city
     , state
  from Address as a
  right join Person as p
               on p.personId=a.personId;
```
[Solution from other]
```sql
select firstName, lastName, city, state
  from Person 
  left join Address using(personId);
```
using..참고만 해두자.

[4] https://leetcode.com/problems/employees-earning-more-than-their-managers/description/

[Solution]
```sql
 select name as Employee
   from Employee e
   join (
    select id
         , salary
      from Employee
   ) m on e.managerId = m.id
   where m.salary<e.salary;
```

[another Solution]
```sql
SELECT e2.name as Employee
FROM employee e1
INNER JOIN employee e2 ON e1.id = e2.managerID
WHERE e1.salary < e2.salary
```

[5] https://leetcode.com/problems/average-time-of-process-per-machine/description/ 

[Solution from others]
```sql
select _a1.machine_id
     , round(avg(_a2.timestamp-_a1.timestamp), 3) as processing_time
  from Activity _a1
  join Activity _a2
    on _a1.machine_id=_a2.machine_id and _a1.process_id = _a2.process_id
   and _a1.activity_type='start'     and _a2.activity_type='end'
   group by _a1.machine_id
```

[Solution from ssam]
```sql
    with _processing_time as(
  select _end.machine_id
       , _end.process_id
       , (_end.timestamp - _start.timestamp) as processing_time
    from activity as _end
    join activity as _start
      on _end.machine_id = _start.machine_id
     and _end.process_id = _start.process_id
   where _end.activity_type = 'end'
     and _start.activity_type = 'start'
    )
  select machine_id
       , round(avg(processing_time)::numeric,3) as processing_time
    from _processing_time
group by machine_id
```
join과 on의 쓰임새가 내가 생각했던것보다 넓은것같다.<br>
생각보다 많은 조건들이 처리가 된다.<br>
** 꼭 다시 풀어볼 것 **<br>